.contentWrapper{
  width: 70%;
  margin: 0 auto;
  .info{
    color: #666666;
    display: flex;
    .leftCol{
      width: 40%;
      margin-top: 1rem;
      ul{
        margin: 0 0 2rem;
      }
      li{
        line-height: 2.5rem;
        i{
          margin-right: 10px;
        }
      }
      ul li:first-child{
        font-weight: 600;
        font-size: 1.15rem;
        margin: 0 0 .5rem;
      }
    }
    .rigthCol{
      flex: 1;
    }
  }
}
