.container{
  @media only screen and (max-device-width: 1024px){
    button{
      margin: 0 auto;
      display: block;
    }
  }
  .colWrapper{
    display: flex;
    justify-content: space-between;
    > div {
      width: 48%;
    }
  }
  .field{
    position: relative;
    .error{
      position: absolute;
      bottom: 16px;
      padding-left: 1rem;
      color: #1a40cd;
      &::first-letter{
        text-transform: uppercase;
      }
    }
  }
  textarea{
    height: 12rem;
  }
  input, textarea{
    margin-bottom: 3rem;
    box-sizing: border-box;
    width: 100%;
    background-color: transparent;
    line-height: 3.5rem;
    padding: 0 1rem;
    font-size: 1.1rem;
    border-bottom: 1px solid #666;
    &:focus, &:focus-visible{
      outline: none;
    }
    &::placeholder{
      font-family: 'Nanum Gothic', sans-serif;
    }
  }
}
