.headLine{
  background: #f7f7f7;
  height: 7rem;
}
.contentWrapper{
  width: 70%;
  margin: 0 auto;
  .footer{
    clear: both;
  }
}
.content{
  display: flex;
  flex-wrap: wrap;
  clear: both;
  margin: 3rem 0 0;
  h3{
    font-size: 2rem;
    margin: 2.5rem 0;
    text-align: center;
    font-family: 'Playfair Display', serif;
  }
  ul{
    list-style: outside;
    line-height: 2rem;
    padding: 0 2rem;
  }
  .beforeAfter{
    flex: 0 0 35%;
    margin-right: 2.5%;
    .galleryButton{
      text-align: center;
      margin: 2rem 0;
    }
  }
  .qa{
    flex: 0 0 62.5%;
    h3:first-child{
      margin-top: 0;
    }
    :global{
      .row-title{
        font-size: 1.2rem !important;
        font-weight: 600;
      }
      .faq-row-wrapper{
        margin-bottom: 4rem;
      }
      .faq-row{
        border-color: #dbdbdb;
      }
    }
  }
  .consultation{
    flex: 0 0 100%;
  }
}
