// components/feedback/Feedback.module.scss
.container{
  position: relative;
  display: flex;
  z-index: 1;
}
.image{
  box-shadow: 0px 0px 6px -2px #000000;
  position: relative;
  z-index: 1;
  margin: 0rem 0 0;
  height: 34rem;
  margin: 4rem 0 0; 
  img{
    height: 100%;
  }
}
.content{
  position: relative;
  z-index: 1;
  flex: 1;
  .messageBox{
    padding: 0 4rem;
    width: 65%;
    background-color: #fff;
    box-shadow: 0px 0px 7px -4px #000000;
    height: 42rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 2rem;
    text-align: center;
    position: relative;
    .quote{
      font-size: 8rem;
      color: #7b9cee;
      transform: rotate(180deg);
      line-height: 4rem;
      margin-bottom: 3rem;
    }
    p{
      color: #666666;
      margin-bottom: 2rem;
    }
    .date, .name{
      font-family: 'Playfair Display', serif;
    }
    .name{
      font-size: 2rem;
      line-height: 3rem;
    }
  }
}
.shadow{
  background: url(/img/clientssay.png);
  width: 1456px;
  height: 108px;
  position: absolute;
  top: 50%;
  margin-top: -54px;
}
