// components/footer/emailForm.module.scss

.container{
  width: 39%;
  text-align: center;
  margin: 2rem 0 0;
  @media only screen and (max-device-width: 650px){  
    width: 80%;
    max-width: 360px;
  }
  .header{
    font-size: 1.3rem;
    font-weight: 400;
    font-family: 'Playfair Display', serif;
    line-height: 5rem;
  }
  @media only screen and (max-device-width: 650px){  
    line-height: 2rem;
    margin-bottom: 2rem;
  }
  .inputWrapper{
    background-color: #fff;
    display: flex;
    input{
      background-color: transparent;
      line-height: 3.5rem;
      padding: 0 1rem;
      font-size: 1.1rem;
      flex: 1;
      &:focus, &:focus-visible{
        outline: none;
      }
      &::placeholder{
        font-family: 'Nanum Gothic', sans-serif;
      }
    }
    button{
      background-color: transparent;
      background-image: url(/img/emailSend.png);
      width: 65px;
      height: 3.5rem;
      background-repeat: no-repeat;
      background-position: center center;
    }
  }
}
