// components/footer/Footer.module.scss
.footer{
  background-color: #f7f7f7;
  margin: 10rem 0 0;
}
.wrapper{
  max-width: 1140px;
  margin: 0 auto;
  padding: 25px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logo{
  img{
    height: 7rem;
  }
}
.infoWrapper{
  margin: 3rem 0 0;
  display: flex;
  justify-content: space-evenly;
  width: 90%;
  @media only screen and (max-device-width: 650px){  
    width: 96%;
    margin: 3rem auto;
    flex-wrap: wrap;
    ul{
      margin: 1rem 2rem;
    }
  }

  li{
    line-height: 2rem;
    text-align: center;
  }
}
