.headLine{
  background: #f7f7f7;
  height: 7rem;
  @media only screen and (max-device-width: 700px){  
    height: 0;
  }
}
.contentWrapper{
  width: 70%;
  margin: 0 auto;
  @media only screen and (max-device-width: 1350px){  
    padding-top: 5rem;
    width: 98%; 
    margin: 0 auto;
  }
  .footer{
    clear: both;
  }
}
.content{
  display: flex;
  flex-wrap: wrap;
  clear: both;
  margin: 3rem 0 0;
  @media only screen and (max-device-width: 700px){  
    margin: 3rem auto 0;
    width: 96%;
  }
  h3{
    font-size: 2rem;
    margin: 2.5rem 0;
    text-align: center;
    font-family: 'Playfair Display', serif;
  }
  ul{
    list-style: outside;
    line-height: 2rem;
    padding: 0 2rem;
  }
  .beforeAfter{
    flex: 0 0 35%;
    margin-right: 2.5%;
    :global{
      .before-after-slider img{
        display: block;
      }
    }
    @media only screen and (max-device-width: 400px){  
      flex: 0 0 100%;
      margin-right: 0;
    }
  }
  .galleryButton{
    text-align: center;
    margin: 2rem 0;
    @media only screen and (max-device-width: 700px){
      width: 100%;
      margin: 3rem 0;
    }
  }
  .qa{
    flex: 0 0 62.5%;
    @media only screen and (max-device-width: 400px){  
      flex: 0 0 100%;
      margin: 4rem 0 0;
    }
    h3:first-child{
      margin-top: 0;
    }
  }
  .consultation{
    flex: 0 0 100%;
    @media only screen and (max-device-width: 650px){  
      flex: 0 0 98%;
      margin: 0 auto;
    }
  }
  :global{
    .row-title{
      font-size: 1.2rem !important;
      font-weight: 600;
    }
    .faq-row-wrapper{
      margin-bottom: 4rem;
      @media only screen and (max-device-width: 700px){
        width: 90%;
        margin: 0 auto 3rem;
      }
    }
    .faq-row{
      border-color: #dbdbdb;
    }
  }
}
