// components/heading/Services.module.scss
.container{
  width: 90%;
  margin: 0 auto;
}
.contentWrapper{
  display: flex;
  margin: 4rem 0 0;
  .content{
    flex: 1;
    line-height: 2rem;
    margin: 0 0 0 4rem;
    .innerWrapper{
      width: 63%;
      h3{
        font-size: 2.5rem;
        margin-bottom: 1.3rem;
        font-family: 'Playfair Display', serif;
      }
      p{
        margin: 1.3rem 0 1.3rem;
        text-overflow: ellipsis;
        overflow: hidden;
        display: -webkit-box !important;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        white-space: normal;  
      }
      button{
        float: right;
        margin-right: -5rem;
      }
      .line{
        position: relative;
        background-color: #f2f2f2;
        height: 5px;
        clear: right;
        // width: 100%%;
        margin: 7rem 0 0 -12rem;
        &:before, &:after{
          position: absolute;
          content: "";
          background: #7b9cee;
          width: 12px;
          height: 12px;
          border-radius: 20px;
          top: -3px;
        }
        &:before{
          left: 30%;
        }
        &:after{
          left: 70%;
        }
      }
    }
  }
}
.listWrapper{
  margin: 5rem auto;
  ul{
    display: flex;
    justify-content: space-between;
    li{
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  .button{
    transition: ease-in-out .3s;
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-size: 1.5rem;
    margin-top: 1.6rem;
    cursor: pointer;
    &.active, &:hover{
      color: #7b9cee;
    }
  }
}
.bold{
  font-weight: 800;
}
.selected{
  background-size: cover;
  border-radius: 200px;
  position: relative;
  z-index: 1;
  &:before{
    content: "";
    position: absolute;
    top: 9px;
    left: 9px;
    right: 9px;
    bottom: 9px;
    border-radius: 200px;
    border: 1px solid #fff;
    opacity: 0.4;
  }
}
