.contentWrapper{
  width: 70%;
  margin: 0 auto;
  h3{
    font-size: 2rem;
    margin: 2.5rem 0;
    text-align: center;
    font-family: 'Playfair Display', serif;
  }
}

.section{
  display: flex;
  &.reverse{
    flex-direction: row-reverse;
  }
  .beforeAfter{
    width: 32%;
  }
  .gallery{
    width: 68%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    h3{
      margin-top: 0;
    }
  }
}
.divider {
  height: 2px;
  width: 80%;
  background: #7bc9ee;
  background: linear-gradient(90deg, #ffffff, #7bc9ee, #ffffff);
  margin: 10rem auto;
}
