@import './imports/_reset';

html, body, #__next{
  min-height: 100vh;
}
html, body, a{
  color: #333333;
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 13px;
}
a{
  text-decoration: none;
}
footer{
  margin-top: auto;
}
*{
  box-sizing: border-box;
}
